openapi: 3.0.0
info:
  title: Holdsport/SportMember API
  version: 1.0.0
servers:
  - url: "https://api.holdsport.dk/v1"
paths:
  /teams:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Team"
          description: An array of teams
      summary: Get list of teams
  "/teams/{teamId}/activities":
    get:
      parameters:
        - name: teamId
          description: Numeric ID of the team
          schema:
            type: integer
          in: path
          required: true
        - name: page
          description: Page number for pagination
          schema:
            type: integer
          in: query
        - name: per_page
          description: Number of items per page for pagination
          schema:
            type: integer
          in: query
        - name: date
          description: Starting date for retrieving activities
          schema:
            format: date
            type: string
          in: query
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Activity"
          description: An array of activities
      summary: Get list of activities for a team
  "/teams/{teamId}/activities/{activityId}":
    get:
      parameters:
        - name: teamId
          description: Numeric ID of the team
          schema:
            type: integer
          in: path
          required: true
        - name: activityId
          description: Numeric ID of the activity
          schema:
            type: integer
          in: path
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
          description: A single activity detail
      summary: Get a single activity detail
  "/teams/{teamId}/members":
    get:
      parameters:
        - name: teamId
          description: Numeric ID of the team
          schema:
            type: integer
          in: path
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Member"
          description: An array of team members
      summary: Get list of team members
  "/teams/{teamId}/members/{memberId}":
    get:
      parameters:
        - name: teamId
          description: Numeric ID of the team
          schema:
            type: integer
          in: path
          required: true
        - name: memberId
          description: Numeric ID of the member
          schema:
            type: integer
          in: path
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
          description: A single team member
      summary: Get a single team member
  "/teams/{teamId}/notes":
    get:
      parameters:
        - name: teamId
          description: Numeric ID of the team
          schema:
            type: integer
          in: path
          required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Note"
          description: An array of notes
      summary: Get list of notes for the team
components:
  schemas:
    Team:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        primary_color:
          type: string
        secondary_color:
          type: string
        role:
          type: integer
    Activity:
      type: object
      properties:
        comment:
          type: string
        endtime:
          type: string
          format: date-time
        id:
          type: integer
        name:
          type: string
        pickup_place:
          type: string
        pickup_time:
          type: string
        place:
          type: string
        starttime:
          type: string
          format: date-time
        status:
          type: string
        action_method:
          type: string
        action_path:
          type: string
        actions:
          type: array
          items:
            type: string
      Member:
        type: object
        properties:
          address:
            type: string
          email:
            type: string
            format: email
          id:
            type: integer
          mobile:
            type: string
          name:
            type: string
          profile_picture_path:
            type: string
          role:
            type: integer
      Note:
        type: object
        properties:
          attachment_path:
            type: string
          body:
            type: string
          created_at:
            type: string
            format: date-time
          created_by:
            type: string
          title:
            type: string
